<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Posts</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<link rel="stylesheet" type="text/css" href="css/default.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
<div class="nav">
	<a href="/" class="btn btn-light" role="button" data-toggle="tooltip"
		data-placement="left" title="Home!"> Home </a> <a href="/users"
		class="btn btn-light" role="button" data-toggle="tooltip"
		data-placement="left" title="Users"> Users </a> <a href="/friends"
		class="btn btn-light" role="button" data-toggle="tooltip"
		data-placement="left" title="Friends"> Friends </a> <a href="/groups"
		class="btn btn-light" role="button" data-toggle="tooltip"
		data-placement="left" title="Groups"> Groups </a>
</div>
<h1  id='title' align="center">Facebook</h1>
<body>
	<div align="center">
		<form method="post" action="/posts" enctype="multipart/form-data">
			<input type="text" name="task" placeholder="Post" size=30 /> <input
				type="file" name="files" multiple /> <input type="submit"
				value="Post" />

		</form>
	</div>
	<div align="center">
		<ul class="list-inline mx-auto justify-content-center"
			th:each="data, stat: ${msg}">
			<li><a
				th:href="@{users/{sectionId}(sectionId=${data.getName()})}"><p
						th:text="${data.getName()}"></p> </a>
				<p th:text="${data.getPost()}"></p> <img th:src="${data.getMedia()}" /></li>
			<a th:href="@{like/{sectionId}(sectionId=${data.getId()})}"><p
					th:text="Like"></p>  </a>
					<p th:text="${data.getLikes()}"></p>
		</ul>
	</div>
	
</body>
</html>